[Unit]
Description=YT Remote Service
After=syslog.target network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/pi/Documents/YT-Remote/bash_scripts/start.sh

[Install]
WantedBy=default.target