<div class="container">
  <div class="card border-primary m-3 mt-5 text-center">
    <h5 class="card-header">Youtube Video Player</h5>
    <div class="card-body">
      <form action="/start_video" method="POST">
        <label for="ytVideoUrlInput" class="form-text"> Video Link </label>
        <input
          type="url"
          class="form-control"
          id="ytVideoUrlInput"
          aria-describedby="ytUrlHelp"
          name="video_url"
          required
        />
        <div id="ytUrlHelp" class="form-text">Paste youtube video url</div>
        <br />
        <button type="submit" class="btn btn-outline-success btn-sm">
          Start
        </button>
        <button
          class="btn btn-outline-danger btn-sm"
          onclick="handleCloseButton(event)"
        >
          Close
        </button>
      </form>
    </div>
  </div>
</div>

<script>
  function handleCloseButton(event) {
    event.preventDefault();
    if (confirm('Do you want to close?')) {
      window.location = '/close_video';
    } else {
      return;
    }
  }
</script>
